<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <script type="text/javascript" src="../models/signin.js"></script>
    </head>
</head>
<body>
    <button onClick="javascript: saveToDb()">Call the function</button>

</body>
</html>