<!DOCTYPE html>
<html>
<head>
    
  <link rel="stylesheet" href="../assets/styles.css">
    
    
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <ul class="form-style-1">
           
			<li>
                <label>Email <span class="required">*</span></label>
                <input type="email" value="abc@abc.com" name="email" class="field-long" placeholder="Email"/>
            </li>
           
                       
			<li>
                <label>Password <span class="required">*</span></label>
                <input type="password" value="password" name="password" class="field-long" placeholder="Password"/>
            </li>
    
            <li>
                <input type="submit" value="Submit" />
            </li>
        </ul>
        </form>
</body>
</html>